.bills-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.add-new-button {
	display: flex;
	align-self: flex-end;
	margin-right: 100px;
}

.billsTable {
	/* width: 80vw; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.action-buttons {
	margin-left: 10px;
}
